body {
  background-color: black;
}

.satu {
  background-image:linear-gradient(to bottom, transparent 70%, black 100%), url("./assets/main-bg.jpg");
  height: 1100px;
  background-size: cover;
 }

.dua {
  background-image: linear-gradient(black 0%, transparent 10%, transparent 90%, black 100%), url("./assets/the-games-bg.jpg");
  height: 100vh;
  background-size: cover;
 }

.tiga {
  background-image: linear-gradient(black 0%, transparent 50%, black 100%), url("./assets/features.jpg");
  /* height: 100vh; */
  height: 1100px;
  background-size: cover;
 }

 .empat {
  background-image: linear-gradient(black 0%, transparent 50%, black 100%), url("./assets/requirements.png");
  /* height: 100vh; */
  height: 1000px;
  background-size: cover;
 }

 .lima {
  background-image: linear-gradient(black 0%, rgba(0, 0, 0, 0.8) 50%, black 100%), url("./assets/top-score-bg.png");
  height: 100vh;
  background-size: cover;
 }

 .enam {
  background-image: linear-gradient(black 0%, transparent 10%, transparent 90%, black 100%), url("./assets/newsletter.png");
  height: 100vh;
  background-size: cover;
 }


 /* Section Jumbroton / home style */
 .bg-fsw {
  background-color: rgba(33, 37, 31, 0.3) !important;
}

.jumbotron {
  padding-top: 2rem;
  height: 100%;
  background-size: cover;
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  margin-top: 200px;
}
.jumbotron h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
}

.jumbotron a {
  margin-top: 30px;
}

.next {
  padding-top: 15%;
  margin-bottom: 0;
}

.next a {
  text-decoration: none;
}
.next a p {
  color: white;
}




/* Section Work style */
#work {
  padding: 2rem;
  height: 100%;
  background-size: cover;
}

#work .row {
  padding-top: 180px;
}

#work h1 {
  font-size: 80px;
  font-weight: bold;
}

#work h3 {
  font-size: 24px;
  font-weight: bold;
}

#work p.features {
  color: #fcb344;
  margin-bottom: 25px;
}

#work p.features1 {
  color: #fff;
  margin-bottom: 25px;
}





/* Style untuk requirements */
#requirements {
  padding: 2rem;
  height: 100%;
  background-size: cover;
}

#requirements h1 {
  font-size: 80px;
  font-weight: bold;
}

td p {
  color: white;
}

td p.requir {
  color: #fcb344;
}



/* Style Top Scores */
#topScores {
  padding: 2rem;
  height: 100%;
  background-size: cover;
}

#topScores h1 {
  font-size: 80px;
  font-weight: bold;
}

.card-header img {
  border-radius: 50%;
}

.card-header h5 {
  color: #ffb548;
  font-weight: bold;
}






/* Newsletter content */
.newsletter {
  text-align: left;
  /* Newsletter Form */
}

.newsletter h3 {
  font-size: 16px;
  margin-top: 10vh;
}

.newsletter h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.newsletter p {
  font-size: 12px;
  text-align: justify;
}

.newsletter form {
  position: relative;
}

.newsletter form input[type="text"] {
  border: 1px solid grey;
  font-size: 20px;
  color: #ffc107;
}

.newsletter form p {
  color: grey;
  position: absolute;
  /* Relative to form */
  font-size: 10px;
  left: 16px;
  top: 1px;
}

.newsletter form button {
  padding: 9px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #ffc107 !important;
}

:-ms-input-placeholder {
  color: #ffc107 !important;
}

::-ms-input-placeholder {
  color: #ffc107 !important;
}

::placeholder {
  color: #ffc107 !important;
}










/* FOOOTER */


footer {
  background-color: #080a0b;
}
.navbawah ul li {
  display: inline-block;
  padding: 1rem;
}

.navbawah ul li a {
  text-decoration: none;
  color: #fff;
}

.navbawah ul li a:hover {
  text-decoration: none;
  color: grey;
}

footer .col-md-5 img {
  padding: 1rem;
}

footer hr {
  margin-top: -10px;
}

.navbawah2 ul li {
  display: inline-block;
}

.navbawah2 ul li a {
  text-decoration: none;
  color: #fff;
}

.navbawah2 ul li a:hover {
  text-decoration: none;
  color: grey;
}











